Data TLB configuration
Number of sets: 4
Set size: 8

Page Table configuration
Number of virtual pages: 32
Number of physical pages: 512
Page size: 8388608

Data Cache configuration
Number of sets: 4
Set size: 3
Line size: 1024
Write through/no write allocate: y

L2 Cache configuration
Number of sets: 1024
Set size: 8
Line size: 1024
Write through/no write allocate: n

Virtual addresses: n
TLB: n
L2 cache: y