Data TLB configuration
Number of sets: 32
Set size: 7

Page Table configuration
Number of virtual pages: 8
Number of physical pages: 1
Page size: 1048576

Data Cache configuration
Number of sets: 1024
Set size: 2
Line size: 32
Write through/no write allocate: n

L2 Cache configuration
Number of sets: 32
Set size: 8
Line size: 32
Write through/no write allocate: y

Virtual addresses: y
TLB: y
L2 cache: y
