Data TLB configuration
Number of sets: 2
Set size: 7

Page Table configuration
Number of virtual pages: 4
Number of physical pages: 1
Page size: 4096

Data Cache configuration
Number of sets: 16
Set size: 1
Line size: 32
Write through/no write allocate: n

L2 Cache configuration
Number of sets: 2048
Set size: 5
Line size: 32
Write through/no write allocate: n

Virtual addresses: n
TLB: n
L2 cache: y
