Data TLB configuration
Number of sets: 8
Set size: 1

Page Table configuration
Number of virtual pages: 1
Number of physical pages: 512
Page size: 4096

Data Cache configuration
Number of sets: 32
Set size: 7
Line size: 256
Write through/no write allocate: n

L2 Cache configuration
Number of sets: 1024
Set size: 6
Line size: 1024
Write through/no write allocate: y

Virtual addresses: y
TLB: n
L2 cache: y
